/* 
---FONTS
	font-family: 'Roboto', sans-serif;
	font-family: 'Lato', sans-serif; 
*/

/* 
---COLORS
	#2ecc71
*/

/* ---GLOBAL */
body {
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

strong {
	font-weight: 700;
}

p {
	line-height: 40px;
}
/* ---GLOBAL */


/* ---HELPERS */
.wrapper {
	width: 1170px;
	margin: 0 auto;
}

.section {
	padding: 90px 0;
}

.section__head {
	margin: 0;
	font-size: 48px;
	line-height: 60px;
	text-align: center;
}

.section__head--left {
	text-align: left;
}

.section__head--white {
	color: white;
}

.section__head span {
	color: #2ecc71;
}

.btn {
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
}

.btn--getapp {
	padding: 8px 35px;
	border-radius: 20px;
	font-weight: 700;
	color: #2ecc71;
	background-color: white;
}

/* TODO .btn--getapp:hover */

.btn--appstore {
	width: 135px;
	height: 47px;
	background-image: url("../img/appstorebtn.png");
	background-position: center;
	background-repeat: no-repeat;
	color: transparent;
}

.btn--googleplay {
	width: 137px;
	height: 47px;
	background-image: url("../img/googleplaybtn.png");
	background-position: center;
	background-repeat: no-repeat;
	color: transparent;
}
/* ---HELPERS */

/* ---MAIN SCREEN */
.main-screen {
	position: relative;
	min-height: 900px;
	color: white;
	background-color: #2ecc71;
}

.main-screen__inner {
	position: relative;
	min-height: 900px;
	z-index: 2;
}

.main-screen__header {
	margin-bottom: 170px;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
	padding: 30px 0;
}

.header__logo {
	font-size: 38px;
	line-height: 24px;
	letter-spacing: 3px;
	font-family: 'Lato', sans-serif;
	cursor: pointer;
}

.header__nav-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
	margin: 0;
	padding: 0;
	list-style: none;
}

.header__nav-item {
	margin-left: 50px;
}

.header__nav-link {
	color: white;
	text-decoration: none;
}

.header__nav-item .btn--getapp {
	color: #2ecc71;
}

.main-info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
}

.main-info__left {
	flex-basis: 60%;
}

.main-info__app-icon {
	display: inline-block;
	max-width: 112px;
	max-height: 112px;
	margin-bottom: 60px;
	border-radius: 28px;
	box-shadow: 0 5px 40px -5px black;
}

.main-info__header {
	margin: 0 0 20px 0;
	font-size: 64px;
	letter-spacing: 3px;
}

.main-info__descr {
	margin-bottom: 55px;
}

.main-info__stores-links .btn:first-child {
	margin-right: 30px;
}

.main-info__right {
	flex-basis: 50%;
}

.main-screen__iphone {
	position:  absolute;
	bottom: 0;
	left: 60%;
}

.parallax-units {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	z-index: 1;
}

.parallax-units > * {
	position:  absolute;
	display: inline-block;
	max-width: 100%;
}

.parallax-units__apple {
	top: 15%;
	left: 0;
}

.parallax-units__banana {
	top: 10%;
	left: 35%;
}

.parallax-units__straw-lg {
	left: 40%;
	bottom: -50px;
}

.parallax-units__straw-sm {
	right: 13%;
	bottom: 15%;
}

.parallax-units__tomato {
	top: 30%;
	right: 3%;
}
/* ---MAIN SCREEN */

/* ---FEATURES */
.features {}

.features__inner {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: nowrap;
}

.features__left {
	position: relative;
	flex-basis: 50%;
	margin-right: 80px;
}

.features__left::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 55px;
	display: inline-block;
	margin-top: -240px;
	width: 500px;
	height: 470px;
	border-radius: 50%;
	border: 1px solid #e7e7e7;
	z-index: -1;
}

.features__icons {
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;
}

.features__icon-item {
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	border-radius: 50%;
	font-size: 24px;
	color: white;
	border: 3px solid white;
	background-color: #e7e7e7;
	cursor: pointer;
	transition: all .3s ease-in-out;
}

.features__icon-item:hover {
	transform: scale(1.3);
	background-color: #2ecc71;
	box-shadow: 0 0 3px 1px #B4B4B4;
}

.features__icon-item:first-child {
	position: absolute;
	top: 105px;
	left: 95px;
}

.features__icon-item:nth-child(2) {
	position: absolute;
	top: 185px;
	left: 200px;
}

.features__icon-item:nth-child(3) {
	position: absolute;
	top: 325px;
	left: 240px;
}

.features__icon-item:nth-child(4) {
	position: absolute;
	bottom: 185px;
	left: 200px;
}

.features__icon-item:last-child {
	position: absolute;
	bottom: 110px;
	left: 95px;
}

.features__right {
	flex-basis: 50%;
}
/* ---FEATURES */

/* ---APP SCREENS */
.app-screens {
	position:  relative;
	padding-bottom: 0;
}

.app-screens__descr {
	width: 65%;
	margin: 30px auto 0 auto;
	text-align: center;
}

.app-screens__img {
	position: relative;
	min-height: 600px;
	margin-top: 90px;
	text-align: center;
	overflow: hidden;
	/* border: 3px solid yellow; */
}

.app-screens__img > * {
	position:  absolute;
}

.app-screens__img img:first-child {
	left: 180px;
	bottom: -80px;
	z-index: 3;
}

.app-screens__img img:nth-child(2) {
	left: 0;
	right: 0;
	bottom: -110px;
	margin: 0 auto;
	z-index: 4;
}

.app-screens__img img:last-child {
	right: 180px;
	bottom: -80px;
	z-index: 3;
}

.parallax-units--app-screens {}
/* ---APP SCREENS */

/* ---MANAGE TIME */
.managetime {}

.managetime__inner {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: nowrap;
}

.managetime__left {
	flex-basis: 50%;
	margin-right: 190px;
}

.managetime__right {
	flex-basis: 50%;
}

.product-card {
	display: flex;
	flex-direction: row;
	align-items: center;
	min-width: 400px;
	min-height: 85px;
	margin-bottom: 30px;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 1px 10px 0 #e7e7e7;
	border: 1px solid #e7e7e7;
	transition: all .3s ease-in-out;
	cursor: default;
}

.product-card:hover {
	transform: scale(1.2);
	box-shadow: 0 5px 20px 0 #e7e7e7;
}

.product-card__img {
	flex-basis: 20%;
	margin-right: 25px;
}

.product-card__img img {
	max-width: 100%;
}

.product-card__info {
	flex-basis: 60%;
}

.product-card__time {
	flex-basis: 20%;
	text-align: right;
	font-size: 24px;
	font-weight: 700;
	color: #2ecc71;
}

.product-card__name {
	margin: 0;
	font-size: 15px;
	font-weight: 700;
	color: #2ecc71;
}

.product-card__timezone {
	font-size: 15px;
	color: #B4B4B4;
}

.product-card__descr {
	margin: 0;
	font-size: 12px;
}

.product-card__numbers {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;	
}

.product-card__g {
	font-size: 12px;
	font-weight: 700;
	color: #2ecc71;
}

.product-card__kcal {
	font-size: 12px;
	font-weight: 700;
	color: #2ecc71;
}

.product-card__separator {
	display: inline-block;
	width: 4px;
	height: 4px;
	margin: 0 10px 0 15px;
	border-radius: 50%;
	background-color: #B4B4B4;
}
/* ---MANAGE TIME */

/* ---FOOOTER */
.footer {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	min-height: 440px;
	color: white;
	background-color: #2ecc71;
	overflow: hidden;
}

.footer__descr {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.footer__btn {
	margin-top: 45px;
	text-align: center;
}

.footer__btn .btn--getapp {
	padding-left: 70px;
	padding-right: 70px;
}
/* ---FOOOTER */